<h2>Edit a Landmark</h2>
<p>views/landmarks/edit.erb</p>
<a class="button" href="/">Home</a>
<hr>
<br>
<h3><%= @landmark.id %></h3>

<form method="POST" action="/landmarks/<%= @landmark.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for "name">Name:</label>
  <input
  type="text"
  name="landmark[name]"
  id="name"
  value="<%= @landmark.name %>"
  >
  <br>
  <label for "year_completed">Year Completed:</label>
  <input
  type="text"
  name="landmark[year_completed]"
  id="year_completed"
  value="<%= @landmark.year_completed %>"
  >
  <br>
  <input type="submit" value="Edit Landmark">
</form>
