<h2>View All Landmarks</h2>
<p>views/landmarks/index.erb</p>
<a class="button" href="/">Home</a>
<hr>
<br>

<% @landmarks.each do |landmark| %>
  <%= landmark.name %>
  <%= landmark.year_completed %>
  <br>
<% end %>
<br>
