<h2>View A Historical Figure</h2>
<p>views/landmarks/index.erb</p>
<a class="button" href="/">Home</a>
<hr>
<br>
<h1><%=@landmark.name%></h1>
<h4><%=@landmark.year_completed%></h4>
<a href='/landmarks/<%=@landmark.id%>/edit'><input type="button" value="Edit">
<br>
