<h1>NYC Sinatra Lab</h1>

<a class="button" href="/figures">View All Figures</a>
<br>
<a class="button" href="/figures/edit">Edit a Figure</a>
<br>
<a class="button" href="/figures/new">Add a new Figure</a>
<br>
<hr>
<br>
<a class="button" href="/landmarks">View All Landmarks</a>
<br>
<a class="button" href="/landmarks/edit">Edit a Landmark</a>
<br>
<a class="button" href="/landmarks/new">Add a new Landmark</a>
